/TestesUnitarios/*.dcu
/TestesUnitarios/__history
/TestesUnitarios/__recovery
/TestesUnitarios/Win32
/TesteCaixaPreta/*.dcu
/TesteCaixaPreta/__history
/TesteCaixaPreta/__recovery
/TesteCaixaPreta/Win32
/*.~*
